<div id="map1Div" data-bind="style:{width:'300px',height:'300px'},map:mapOne"></div>
<input data-bind="value: mapOne().lat" />
<input data-bind="value: mapOne().lng" />

<div class="oj-hybrid-applayout-page">
  <div class="oj-applayout-fixed-top">
      <!--
       ** Oracle JET V3.0.0 hybrid mobile application header pattern.
       ** Please see the Oracle JET Cookbook App Shell: Hybrid Mobile demos for
       ** more information on how to use this pattern.
    -->
    <header role="banner" class="oj-hybrid-applayout-header" data-bind="ojModule: headerConfig">
    </header>
  </div>
  <!-- This is where your main page content will be loaded -->
  <div class="oj-applayout-content">
    <div role="main" class="oj-hybrid-applayout-content">
      <div class="oj-hybrid-padding">
        <h3>Dashboard Content Area</h3>
        <div>
            To change the content of this section, you will make edits to the dashboard.html file located in the /js/views folder.
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div id="map2Div" data-bind="style:{width:'600px',height:'300px'},map:mapTwo"></div>
<input data-bind="value: mapTwo().lat" />
<input data-bind="value: mapTwo().lng" />
-->
